<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Práctica :: Campos Ocultos</title>
</head>

<body>
    <h1>Página 2</h1>
    <div>
        <table>
            <tr>
                <td>Usuario: {{ form.usuario.value }}</td>
            </tr>
            <tr>
                <td>Contraseña: {{ form.password.value }}</td>
            </tr>
        </table>
    </div>
    <form action="/controlador2" method="post">
    	{% csrf_token %}
        <div>
        
            <label for="{{ form.valor1.id_for_label }}">Valor 1:</label>
        
            {{ form.valor1 }}
    
        <div>
        
            <label for="{{ form.valor2.id_for_label }}">Valor 2:</label>
        
            {{ form.valor2 }}

	<input type="hidden" name="usuario" value="{{ form.usuario.value }}">
	<input type="hidden" name="password" value="{{ form.password.value }}">
    
        <div class="button">
        
            <button type="submit">Calcular</button>
            </div>
    </form>
</body>

</html>
